@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
    height: 100vh;
    background-color: rgba(216, 248, 243, 0.397);
    background-attachment: fixed;
    font-family: 'Josefin Sans';
    padding: 0;
    margin: 0;
}

main {
    background: url('../imagens/background1.png') top center fixed;
    background-size: cover;
    max-width: 600px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}


main .borda {
    border: 2px solid rgb(81, 255, 0);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    position: relative;
    height: 50px;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .borda .sobrepor {
    border-radius: 100px;
    position: absolute;
    top: -45px;
    
}

.sobrepor img {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-nome h2  {
    color: white;
    text-align: center;
    margin: 60px 0px 0px;
}

main p {
    color: white;
    text-align: center;
    margin: 7px;
}

.redes{ 
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.redes i {
   margin: 4px 30px 0px;
}

.texto {
    color: white;
    text-align: center;
    margin: 0 5px;
}

.texto p {
    text-align: justify;
}

.divisor {
    border: 2px solid rgb(81, 255, 0);
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    text-align: center;
    padding: 5px;
}

.fa-github {
    color: white;
    font-size: 20px;
    text-align: center;
}

.fa-facebook-f {
    color: white;
    font-size: 20px;
    text-align: center;
}

.fa-linkedin {
    color: white;
    font-size: 20px;
    text-align: center;
}

.divisor i {
    margin: 0px 50px;
}